<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <mat-toolbar class="header">
      <div>Filter</div>
      <mat-icon class="close cursorPointer" (click)="drawer.close()"
        >close</mat-icon
      >
    </mat-toolbar>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()"
      class="cursorPointer"
    >
      menu
    </mat-icon>
    <div>Notice</div>
  </mat-toolbar>

  <div class="main contents">
    <div class="addSticky">
      <form>
        <!-- <textarea
          matInput
          formControlName="note"
          placeholder="Take a note"
          [(ngModel)]="notesString"
            [(ngModel)]="Obj.message"
          #message='ngModel'
          matTooltip="Note"
        ></textarea> -->

        <textarea
          matInput
          formControlName="note"
          placeholder="Take a note"
          #textNotes
          (change)="notesString = textNotes.value"
          matTooltip="Note"
          >{{ notesString }}</textarea
        >
        <div class="col-md-12">
          <button
            class="col-md-2 btnbg btnbg1"
            (click)="addNote($event, 'btnbg1', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg2"
            (click)="addNote($event, 'btnbg2', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg3"
            (click)="addNote($event, 'btnbg3', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg4"
            (click)="addNote($event, 'btnbg4', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg5"
            (click)="addNote($event, 'btnbg5', newUser)"
          ></button>
          <button
            class="col-md-2 btnbg btnbg6"
            (click)="addNote($event, 'btnbg6', newUser)"
          ></button>
        </div>
      </form>
    </div>
    <div class="listSticky noPadding" >
      <span
        *ngFor="let data of noteData"
        class="col-md-2 noPadding"
        [ngClass]="data.ClassName"
        (click)="editNote(data)"
      >
        <span class="col-md-12">
          <p>{{ data.Notes }}</p>
        </span>
        <span class="col-md-12 stickyDate"> {{ data.Date }}</span>
      </span>
    </div>
    <div></div>
  </div>
  <div class="listSticky noPadding" *ngIf="editvalue != ''">
  <span
    *ngFor="let data of editvalue"
    class="col-md-2 noPadding"
    [ngClass]="data.ClassName"
    (click)="editNote(data)"
  >
    <span class="col-md-12">
      <input type="text" value="data.Notes">
     
    </span>
  
  </span>
</div>
</mat-drawer-container>
